h1 Lista de Produtos
    table
        thead
            tr
                th(scope='col') Produto
                th(scope='col') Descrição
        tbody
            tr
                td #{peca.nome} 
                td #{peca.descricao}